.caixa {
    background-color: blue;
    width: 50%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center ;
    margin: auto;
}

.texto {
    text-decoration: underline;
    color: white;
    font-size: 1.7em;
}

