.header {
    height: 10% !important;
    padding: 1rem;
    background-color: #115555 !important;
    margin-bottom: 3rem;
}

.header > nav  {
    width: 14%;
    display: flex;
    align-items: center;
    width: 100%;
    height: 10%;
}

.header > nav > img {
    width: 5%;
}

.header > nav > span {
    margin: auto;
    font-size: 2em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}